# ignore videos
/Videos

# Ignore temp DataImporter items
DataImporter/via_egg_video.json
DataImporter/temporal_segments.csv
DataImporter/demo_egg_vid_annotations.csv

# Ignore output.csv (instance output)
output.csv

